


body { background: #ffffff; color: #6b5f51; font-family: "Gill Sans", Calibri, "Trebuchet MS", sans-serif; }
#overlay, footer { background: #ffffff; }
a:hover, a:hover *, .grid .entry a:hover span, .private-login input[type="submit"]:hover { color: #6b5f51 !important; }
#overlay .close, .main-header nav a { font-family: "Gill Sans", Calibri, "Trebuchet MS", sans-serif; color: #6b5f51; }
.main-header nav a:hover, .main-header nav a.active, .screen-nav a.active, .screen-nav a:hover, .slider-features a.active, .slider-features a:hover, .section-header a:hover, .section-header a.active { color: #b91221 !important; }
.main-header nav.homepage a:hover, .main-header nav.homepage a.active, #slidecaption a:hover * { color: !important; }
section header, .divider, .news .entry { border-color: #cccccc; }
a, .private-login input[type="submit"], .screen-nav a, .slider-features a, .section-header a, .private nav a, h1, h1.sectionname, .entries .titles, .entries .title, .grid .titles, .grid .title, .homepage .caption h1 { color: #6b5f51; }
h2, .entries .subtitle, .grid .subtitle, .grid .titles .subtitle, .homepage .caption h2 { color: #b91221; }
body { background: url('http\3A \2F \2F www\2E murielguepingallery\2E com\2F media\2F cache\2F resolve\2F \2F 539f1b2ba9aa2c31208b4568\2F application\2F 539f1b2ba9aa2c31208b4568\2F 49e209a047b6ad4a51d9322bab413baf\2E png') no-repeat center center fixed; -webkit-background-size: cover; background-size: cover; }
footer { background: transparent !important; }


*:focus:not(.focus-visible) {
    outline: none;
}


*:focus {
    outline: 2px #A5C7FE solid;
    outline-offset: 1px;
}

.entry > a {
    display: inline-block;
}

.entry.small > a, .entry.medium > a, .entry.large > a, .grid.thumbnails > .entry > a, .grid.entries > .entry > a,
.large-images > .entry > a, .entry.full > a {
    display: block;
}

div[class^='custom-grid'] > .entry > a, div[class*=' custom-grid'] > .entry > a,
.grid-container > .grid > .entry > a, .list.text-only .entry > a {
    display: block;
}

.list.text-only .date {
    float: left;
}

.news .entry > .thumbnail > .image > a {
    display: inline-block;
}

#skipToContent {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
    text-decoration: underline;
}

a#skipToContent:active,
a#skipToContent:focus,
a#skipToContent:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
}

footer div > a.footer-siteindex,
footer span > a.footer-siteindex{
    white-space: nowrap;
    overflow: hidden;
}

#contentWrapper:focus {
    outline: transparent !important;
}

#contentWrapper #eccomerceCheckout .widget ul {
    display: block;
    margin-top: 5px;
}

#contentWrapper #eccomerceCheckout input.error {
    margin-bottom: 0;
}

label.required:after {
    content: '*';
    margin-left: 2px;
}


